
<div class="flex flex-col p-6 max-w-sm mx-auto my-64 justify-center bg-white rounded-2xl shadow-2xl items-center space-y-8">

    <img src="./assets/photo_2022-04-17_21-09-18.jpg" class="w-64 h-64">

    <input type="email" name="" id="" class="outline-none w-64 px-2 border-b-2 border-orange-600" placeholder="email">
    <input type="password" name="" id="" class="outline-none w-64 px-2 border-b-2 border-orange-600" placeholder="senha">
    <a [routerLink]="['/home']" class="px-4 py-1 text-sm text-orange-600 font-semibold rounded-full border border-orange-200 hover:text-white hover:bg-orange-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-orange-600 focus:ring-offset-2">login</a>
    
</div>
