<nav class="flex p-4 shadow-lg w-full bg-white justify-between">
    <a href="" class="ml-8">LOGO</a>
    <label for="sanduiwch" class="sm:hidden  mr-8" (click)="alterar()">
        <span>xx</span>
    </label>
    <div class="" *ngIf="this.x">
        <ul class="sm:flex-col   flex space-x-4 mr-8">
            <li>home</li>
            <li>about</li>
            <li>contatc</li>
        </ul>
    </div>
</nav>




<p>{{nome}}</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3947.7575840892277!2d-36.40757828583938!3d-8.3268697861356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a9c7adccc9a75f%3A0x194fb8394c7d3010!2sUnidade%20Acad%C3%AAmica%20de%20Belo%20Jardim%20-%20UABJ%20%2F%20UFRPE!5e0!3m2!1sen!2sbr!4v1649898743140!5m2!1sen!2sbr"style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="my-4 w-full h-80"></iframe>